#inner1 {
    background-color: rgb(162, 0, 255);
    border: 3px solid salmon;
    color: white;
  }
  #something {
    text-align: center;
  }
  .bton {
    height: 30px;
    width: 30px;
    display: inline-block;
  }
  #red {
    background-color: rgb(199, 56, 56);
  }
  #green {
    background-color: rgb(67, 214, 67);
  }
  #blue {
    background-color: rgb(91, 91, 209);
  }
  #orange {
    background-color: rgb(216, 165, 70);
  }
  .cen {
    text-align: center;
  }